window {
	background-color: transparent;
}

.main-box {
	border-radius: 24px;
	background-color: alpha(#000000, 0.8);
	padding-bottom: 12px;
	padding-top: 0px;
	padding-left: 24px;
	padding-right: 24px;
	border: 4px solid alpha(#000000, 0.4);
}

.connection-status {
	color: #e3e6eb;
	font-size: 1.5rem;
	margin-top: 12px;
}

.live-text {
	color: #e3e6eb;
	font-size: 3rem;
}
